.editJob{
    margin-left: 30%;
    width: 100%;
}

.editJob input, textarea{
    width: 40vw;
    font-size: 1.3em;
}

#edit_job{
    margin-top: 1.5em;
    background-color: black;
    font-size: 1.1em;
    color: white;
    padding: .5em;
    margin-right: 1.2em;
}