.favoritesContainer{
    width: 100%;
    margin-right: 10vw;
    margin-left: 10vw;
}

#favoriteJobs{
    display: flex;
    flex-direction: row;
}

.basicJobInfo {
    background-color: lightblue;
    width: 25vw;
    margin-right: 1.5em;
    border: 3px solid black;
    text-decoration: none;
}

.basicJobInfo:hover{
    border-color: red;
}

.link{
    text-decoration: none;
    color: black;
}

.link h1{
    text-align: center;
}