.detailsOfJob {
    margin-left: 40vw;
}

.detailsOfJob p{
    font-size: 1.2em;
}

#unfavorited, #favorite{
    background: none;
    border: none;
    font-size: 1.2em;
}

#unfavorited{
    background-color: white;
}

#favorite{
    color: blue;
}

.loggedInEditAndDelete button {
    margin-top: 1.5em;
    background-color: black;
    font-size: 1.1em;
    color: white;
    padding: .5em;
    margin-right: 1.2em;
    margin-left: 2em;
}

@media only screen and (max-width: 900px){
    .detailsOfJob {
        margin-left: 10vw;
    }
    
}