.searchContainer{
    margin-left: 40vw;
}

#jobToSearch{
    height: 2em;
    font-size: 1.1em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

#searchJob{
    background-color: black;
    font-size: 1.1em;
    color: white;
    padding: .5em;
}

.searchContainer label{
    color: red;
}

@media only screen and (max-width: 900px){
    .searchContainer{
        margin-left: 15vw;
    }
    
}