.navbarContainer{
    display: flex;
    width: 100vw;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    height: 2em;
}

.navbarContainer a{
    color: white;
}

.navbarContainer {
    color: white;
}

.navbarContainer a:hover{
    color: lightblue;
}

.navbarContainer #logout{
    background: none;
    border: none;
    font-size: 20px;
    color: white;
}

#logout:hover{
    color: lightblue;
    cursor: pointer;
}

.navbarContainer #createJob{
    background-color: lightblue;
    font-size: .9em;
}

#createJobLink{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 900px){
    .navbarContainer{
        display: grid;
        text-align: center;
        width: 100vw;
        gap: 0;
        align-items: center;
        justify-content: center;
        background-color: black;
        font-weight: bold;
        font-size: 1em;
        height: 10em;
        clear: both;
    }

    .two{
        display: grid;
        text-align: center;
        width: 100vw;
        gap: 0;
        align-items: center;
        justify-content: center;
        background-color: black;
        font-weight: bold;
        font-size: 1em;
        height: 3.5em;
        clear: both;
    }
}