.navbarContainer{
    display: flex;
    width: 100vw;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    height: 2em;
}

.navbarContainer a {
    color: white;
}

.navbarContainer a:hover{
    color: lightblue;
}